html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*----------- HEADER -----------*/
.header{
  position:absolute;
  font-weight: 800;
  margin: 0;
  font-size: 2.5em !important;
  font-family: 'Bentham', serif;
  color: black;
  padding: 10px 0;
  background: #81d8d0;
  text-align: center;
  box-shadow: 0 4px 14px rgba(0,0,0,.4) !important;
  z-index:1 !important;
  display: block;
  text-shadow: 4px 3px 3px rgba(0,0,0,.4) !important;
}
/*----------- HEADER (for smaller screens) -----------*/
@media screen and (min-width: 220px) and (max-width: 359px) {
  .header {
    position:absolute;
    width:100%;
    font-size: 1em !important;
    box-shadow: 0 4px 14px rgba(0,0,0,.4) !important;
    z-index:1 !important;
    display: block;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .header {
    position:relative;
    font-size: 1.6em !important;
    box-shadow: 0 4px 14px rgba(0,0,0,.4) !important;
    z-index:1 !important;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .header {
    position:relative;
    font-size: 2.5em;
    box-shadow: 0 4px 14px rgba(0,0,0,.4) !important;
    z-index:1 !important;
    display: block;
  }
}

/*----------- MENU (navigation) -----------*/
.nav {
  position: absolute;
  padding:40px 10px 10px 10px;
  width: 250px;
  height: 96.5%;
  top: 25px;
  left: 0px;
  background: #81d8d0;
  box-shadow: 10px 5px 14px rgba(0,0,0,.4) !important;
  overflow: scroll;
}

/*----------- MENU (for smaller screens) -----------*/
@media screen and (min-width: 220px) and (max-width: 359px)  {
  .nav {
    top: 5px !important;
    height: 89.5%;
    width:70% !important;
  }
  .nav-closed{
    top: 5px !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .nav {
    top: 15px !important;
    height: 89.5%;
  }
  .nav-closed{
    top: 15px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    top: 25px !important;
  }
  .nav-closed{
    top: 25px !important;
  }
}

nav ul {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style-type: none;
  margin:1em auto;
  padding: 6px;
  width: 92%;
  font-family: 'Bentham', serif;
  font-size: 1.2em;
}

.nav-closed {
  position: absolute;
  padding:50px 10px 10px 10px;
  width: 40px;
  height: auto;
  top: 25px;
  left: 0px;
  background: #81d8d0;
  box-shadow: 10px 5px 14px rgba(0,0,0,.4) !important;
  z-index:0;
}
/*----------- LIST ITEM (navigation) -----------*/
.place {
  color: black;
  font-size: 1em;
  position: relative;
  display: block;
  padding: 15px 15px 25px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-shadow: 4px 4px 4px rgba(0,0,0,.4) !important;
}

.place-open{
  box-shadow: 0 4px 14px rgba(0,0,0,.4) !important;
  color: black;
  font-size: 1em;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index:100;
  border-style: solid solid none solid;
}

.placeInfo {
  color: black;
  position: relative;
  display: block;
  padding: 15px;
  height:250px;
  width:86.6%;
  overflow:scroll;
  background-color: #fff;
  border: 1px solid #ddd;
  margin:5px 0 5px 0 !important;
  box-shadow: 0 4px 14px rgba(0,0,0,.4) !important;
}

.placeText{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 14pt !important;
  font-weight: 400;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  word-spacing: 1pt;
  border-top: 2px solid #ddd;
  padding: 0.5em;
  margin: 1em auto;
}

/*----------- LIST ITEM (for smaller screens) -----------*/
@media (min-width: 1024px) {
  .placeText {
    font-size: 18pt !important;
  }
  .place-open, .place{
    font-size: 18pt !important;
  }
}

.image{
  width:150px;
  height:120px;
  margin-left: 13% !important;
  border: 2px solid #81d8d0;
  box-shadow: 0 4px 14px rgba(0,0,0,.4) !important;
}

/*----------- SEARCH (navigation) -----------*/
.input {
  position: relative;
  font-size: 1.2em !important;
  display: block;
  width: 95%;
  height: 34px;
  margin: 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*----------- BUTTONS -----------*/
.close {
  color: black;
  padding:2%;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor:pointer;
  transition: all 0.3s ease-in-out 0s !important;
}

.close:hover{
  cursor:pointer;
  transform: rotate(360deg) !important;
  transition: all 0.3s ease-in-out 0s !important;
}

.hamburger{
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius:10px;
  margin: 6px 0;
  box-shadow: 5px 2px 4px rgba(0,0,0,.8) !important;
}

.ham-icon{
  cursor:pointer;
  transition: all 0.3s ease-in-out 0s !important;
}

 .ham-icon:hover{
  cursor:pointer;
  transform: rotate(360deg) !important;
  transition: all 0.3s ease-in-out 0s !important;
}

/*----------- MARKERS -----------*/
.markerName{
  font-size: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: manual;
  text-shadow: 5px 2px 4px rgba(0,0,0,.8) !important;
  transition: all 0.8s ease-in-out 0s !important; 
}

.unmarked{
  cursor: pointer;
  width: 36px;
  height:36px;
  color: white;
  background: #5b565e;
  display: inline-flex;
  padding: 25px;
  box-shadow: 10px 5px 4px rgba(0,0,0,.4) !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.marked{
  position: absolute;
  border:2px solid #81d8d0;
  background: #5b565e;
  cursor: pointer;
  width: 36px;
  height:36px;
  color: white;
  display: inline-flex;
  box-shadow: 10px 5px 4px rgba(0,0,0,.4) !important;
  z-index:10 !important;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

/*----------- MARKERS (info window)-----------*/
/*source:https://leaverou.github.io/bubbly/*/
.bubble {
	position: absolute;
	background: #81d8d0;
  border-radius: .4em;
  min-height:70px;
  width: 170px;
  top:-170px;
  left:-10px;
  z-index:10000 !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: visible;
  display:block;
}

.bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #81d8d0;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
  margin-bottom: -20px;
  z-index:10000 !important;
}

.address{
  padding:10px;
  color:black;
  font-size: 1.2em;
  letter-spacing: 1px;
  box-shadow: 10px 5px 4px rgba(0,0,0,.4) !important;
}

.topName{
  font-size:0.5em !important;
  padding-top:5px;
  margin:0 auto;
  width: 150px;
  height: 0.1%;
  border-bottom:1px solid #5b565e;
}

/*----------- MARKERS (animate from the MENU) -----------*/
.animated {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
  position:absolute;
  border:5px solid #81d8d0;
  border-radius:50%;
}

@-webkit-keyframes bounce {
  0%  {transform: translateY(0);}
  10% {transform: translateY(-45px);}
  20% {transform: translateY(0);}
  30% {transform: translateY(-35px);}
  40% {transform: translateY(0);}
  50% { transform: translateY(-20px);}
  60% {transform: translateY(0);}
  70% {transform: translateY(-15px);}
  80% {transform: translateY(0);}
  90% {transform: translateY(-5px);}
  100% {transform: translateY(0);}
} 

@keyframes bounce { 
  0%  {transform: translateY(0);}
  10% {transform: translateY(-45px);}
  20% {transform: translateY(0);}
  30% {transform: translateY(-35px);}
  40% {transform: translateY(0);}
  50% { transform: translateY(-20px);}
  60% {transform: translateY(0);}
  70% {transform: translateY(-15px);}
  80% {transform: translateY(0);}
  90% {transform: translateY(-5px);}
  100% {transform: translateY(0);}
} 

/*----------- FONT-FACE -----------*/
@font-face {
  font-family: 'Bentham';
  font-style: normal;
  font-weight: 400;
  src: local('Bentham Regular'), local('Bentham-Regular'), url(https://fonts.gstatic.com/s/bentham/v8/VdGeAZQPEpYfmHglGWsxCbSJ7y8.woff2) format('woff2');
}